#rapidoid-title {
	font-size: 20px;
	font-weight: bold;
}

.docker-code {
	color: #777;
	font-size: 16px;
	margin-left: 10px;
}

.not-found {
	color: #777;
	font-weight: bold;
}

div.sep-example {
	padding-top: 3px !important;
}

body {
	background-color: #FFF !important;
}

div.caption {
	margin-top: 15px;
	padding: 7px;
	border-top: 1px dashed;
	border-bottom: 1px dashed;
	border-left: 0px;
	border-right: 0px;
	border-color: #AAA;
	font-size: 20px;
	font-weight: bold;
	color: #555;
	margin-bottom: 10px;
	margin-top: 20px;
}

.badge-eg-num {
	font-size: 14px;
	font-weight: bold;
	vertical-align: middle;
	background-color: #967;
	color: #FFF;
}

.badge-docker {
	font-size: 14px;
	font-weight: bold;
	vertical-align: middle;
	background-color: #679;
	color: #FFF;
}

.embedd {
	width: 100% !important;
	height: 500px !important;
}

#gen {
	color: black;
}

#main_title {
	margin-bottom: 15px;
}

#main_subtitle {
	margin-bottom: 25px;
}

.subtle {
	color: #555;
	font-size: 14px;
}

.app-example-title {
	margin-bottom: 10px;
}

.eg-verb {
	color: white;
	font-weight: bold;
}

.eg-GET {
	background-color: #475;
}

.eg-POST {
	background-color: #744;
}

.eg-uri {
	background-color: #77A;
	color: white;
	font-weight: normal;
	font-size:13px;
}

.eg-result {
	background-color: #FFF;
	border: 1px dotted;
	border-color: #BBB;
	margin-top: 5px;
	margin-bottom: 25px;
	padding: 2px;
}

pre {
	font-size: 13px;
}

.eg_code {
	margin-bottom: 25px;
}