div.sep-example {
	padding-top: 3px !important;
}

h3.caption {
	margin-top: 15px;
	padding: 7px;
	background-color: #888;
	border: 1px dotted;
	border-color: #AAA;
	color: white;
}

.embedd {
	width: 100% !important;
	height: 500px !important;
}

#gen {
	color: black;
}

#main_title {
	margin-bottom: 15px;
}

#main_subtitle {
	margin-bottom: 25px;
}

.rapidoid {
	font-weight: bold;
	margin-right: 20px;
}

.subtle {
	color: #555;
	font-size: 14px;
}

.app-example-title {
	margin-bottom: 10px;
}