<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="" />
<meta name="author" content="" />

<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script src="rapidoid.min.js"></script>

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">

<link href="docs.css" type="text/css" rel="stylesheet" />
<link href="rapidoid.min.css" type="text/css" rel="stylesheet" />
<link href="theme-default.css" type="text/css" rel="stylesheet" />

<title>Rapidoid Gui - Web GUI Components (Bootstrap-based)</title>

<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
<script src="//platform.linkedin.com/in.js" type="text/javascript">lang: en_US</script>

</head>

<body class="rapidoid">

  <nav role="navigation" class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button data-target="#collapsable" class="navbar-toggle collapsed" data-toggle="collapse" type="button">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Rapidoid</a>
      </div>
      <div id="collapsable" class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-left">
	  <li class="active"><a href="/">Getting started</a></li>
	  <li><a rel="nofollow" href="community.html">Community &amp; Support</a></li>
	  <li><a rel="nofollow" href="https://github.com/rapidoid/rapidoid">Source on GitHub</a></li>
        </ul>

<div class="navbar-brand navbar-right">
				<a rel="nofollow" data-count-api="/repos/rapidoid/rapidoid#stargazers_count" data-count-href="/rapidoid/rapidoid/stargazers" data-icon="octicon-star" href="https://github.com/rapidoid/rapidoid" class="github-button">Star</a>
				<a rel="nofollow" data-count-api="/repos/rapidoid/rapidoid#forks_count" data-count-href="/rapidoid/rapidoid/network" data-icon="octicon-git-branch" href="https://github.com/rapidoid/rapidoid/fork" class="github-button">Fork</a>

				<script type="IN/Share" data-url="http://rapidoid.org/" data-counter="right"></script>
				
				<span class="g-plusone" data-size="medium"></span>
				
				<a rel="nofollow" href="https://twitter.com/share" rel="nofollow" class="twitter-share-button navbar-btn" data-url="http://www.rapidoid.org" data-text="Released #Rapidoid v5.0 - The No-bullshit #Web Framework for #Java!" data-size="small">Tweet</a>
</div>
      </div>
    </div>
  </nav>

<div class="container">

		<div class="row">
			<div class="col-md-7 col-sm-12">
				<h4 id="main_subtitle">
					<span id="rapidoid-title">Rapidoid - The No-bullshit Web Framework for Java!</span>
				</h4>
                <p><b><a rel="nofollow" href="https://github.com/rapidoid/rapidoid">Open source</a> (Apache license). Simple. Secure. <a rel="nofollow" href="https://www.techempower.com/benchmarks/#section=data-r11&hw=peak&test=plaintext">Extremely fast!</a></b></p>
			</div>

			<div class="col-md-5 col-sm-12">
<!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup" class="pull-right">
    <form action="http://rapidobest.us3.list-manage.com/subscribe/post?u=c2c27aa25fdef31d9513d6124&amp;id=08cd6ec699" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form-inline" target="_blank" novalidate>

        <div class="mc-field-group">
            <input type="email" value="" name="EMAIL" class="required email form-control input-sm" id="mce-EMAIL" placeholder="Your e-mail address"> <input type="submit" value="Subscribe to newsletter" name="subscribe" id="mc-embedded-subscribe" class="button btn btn-primary btn-sm">
        </div>
        <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display: none"></div>
            <div class="response" id="mce-success-response" style="display: none"></div>
        </div>
        <div style="position: absolute; left: -5000px;">
            <input type="text" name="b_c2c27aa25fdef31d9513d6124_08cd6ec699" value="">
        </div>
        <div class="clear"></div>
    </form>
</div>
<!--End mc_embed_signup-->

<div id="group-email" class="pull-right">Community: <a href="mailto:rapidoid@googlegroups.com">rapidoid@googlegroups.com</a></div>
			</div>
		</div>

<!-- MODULE <a href="gui.html">rapidoid-gui</a> -->

<div class="row row-separated-nano">
  <div class="col-md-8">

<div class="module-header">
<span class="module-name badge badge-module">Rapidoid Gui</span> Web GUI Components (Bootstrap-based)</div>  
<h5><b></b></h5>

<div class="module-desc">
<p>Consists of Web GUI components that generate HTML (grids, forms and other widgets).</p>
<p>Most of the GUI components are based on the Twitter Bootstrap framework.</p>

</div>

<br><br>

  </div>
  
  <div class="col-md-4">
        <div class="eg_title">Add <b><a href="gui.html">rapidoid-gui</a></b> as Maven dependency:</div>
<pre class="maven-code">
&lt;<span class="_code_tag">dependency</span>&gt;
    &lt;<span class="_code_tag">groupId</span>&gt;org.rapidoid&lt;/<span class="_code_tag">groupId</span>&gt;
    &lt;<span class="_code_tag">artifactId</span>&gt;<a href="gui.html">rapidoid-gui</a>&lt;/<span class="_code_tag">artifactId</span>&gt;
    &lt;<span class="_code_tag">version</span>&gt;5.0.9&lt;/<span class="_code_tag">version</span>&gt;
&lt;/<span class="_code_tag">dependency</span>&gt;
</pre>

  </div>
  
</div>

<div class="row">
  
<div class="col-md-10">
<!-- EXAMPLE gui.mapgrid -->

<div id="examplegui.mapgrid-title" class="row">
	<div class="col-md-12">
		<div class="caption"><span class="badge badge-eg-num">1</span> Creating a Two-column Grid from a Map</div>
	</div>
</div>

<div id="examplegui.mapgrid-body" class="row">

	<div id="examplegui.mapgrid-left" class="col-md-12">


<!-- START CODE -->
<div id="examplegui.mapgrid-code" class="code-clean">
<div class="example-line clearfix"><span class="pull-left left-code">Map&lt;<span class="_code_cls">Integer</span>, <span class="_code_cls">String</span>&gt; nums = <span class="_code_api">U</span><span class="_code_api">.map</span>(<span class="_code_num">1</span>, <span class="_code_str">"one"</span>, <span class="_code_num">5</span>, <span class="_code_str">"five"</span>);</span><span class="pull-right show-code"><span class="object-details"><span class="object-value">{"1":"one","5":"five"}</span><span class="object-class">LinkedHashMap</span></span></span><span class="pull-left left-code"></div>
<div class="empty-line clearfix">&nbsp;</div>
<div class="comment-line clearfix"><span class="_code_comment"><i class="fa fa-mortar-board _code_comment_icon"></i> Creating a grid (table) from the <span class="text-box">nums</span> map:</span></div>
<div class="empty-line clearfix">&nbsp;</div>
<div class="example-line clearfix"><span class="_code_api">GUI</span><span class="_code_api">.grid</span>(nums);</span><span class="pull-right show-code"><span class="object-details"><span class="object-value">&lt;GUI widget that generates HTML on .toString() call&gt;</span><span class="object-class">KVGrid</span></span><div class="show-gui"><table class="table table-striped table-hover">
  <tr>
    <th>Key</th>
    <th>Value</th>
  </tr>
  <tr>
    <td>1</td>
    <td>one</td>
  </tr>
  <tr>
    <td>5</td>
    <td>five</td>
  </tr>
</table></div></span><span class="pull-left left-code"></div>
<div class="empty-line clearfix">&nbsp;</div>
<div class="comment-line clearfix"><span class="_code_comment"><i class="fa fa-mortar-board _code_comment_icon"></i> Custom table headers:</span></div>
<div class="empty-line clearfix">&nbsp;</div>
<div class="example-line clearfix"><span class="_code_api">GUI</span><span class="_code_api">.grid</span>(nums)<span class="_code_api">.headers</span>(<span class="_code_str">"Number"</span>, <span class="_code_str">"As Text"</span>);</span><span class="pull-right show-code"><span class="object-details"><span class="object-value">&lt;GUI widget that generates HTML on .toString() call&gt;</span><span class="object-class">KVGrid</span></span><div class="show-gui"><table class="table table-striped table-hover">
  <tr>
    <th>Number</th>
    <th>As Text</th>
  </tr>
  <tr>
    <td>1</td>
    <td>one</td>
  </tr>
  <tr>
    <td>5</td>
    <td>five</td>
  </tr>
</table></div></span><span class="pull-left left-code"></div>
<div class="empty-line clearfix">&nbsp;</div>
<div class="comment-line clearfix"><span class="_code_comment"><i class="fa fa-mortar-board _code_comment_icon"></i> Custom views for the keys and values:</span></div>
<div class="empty-line clearfix">&nbsp;</div>
<div class="example-line clearfix"><span class="_code_api">GUI</span><span class="_code_api">.grid</span>(nums)</div>
<div class="example-line clearfix">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="_code_api">.keyView</span>(k <span class="_code_lambda">-&gt;</span> <span class="_code_api">GUI</span>.b(k))</div>
<div class="example-line clearfix">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="_code_api">.valueView</span>(v <span class="_code_lambda">-&gt;</span> v + <span class="_code_str">"!"</span>);</span><span class="pull-right show-code"><span class="object-details"><span class="object-value">&lt;GUI widget that generates HTML on .toString() call&gt;</span><span class="object-class">KVGrid</span></span><div class="show-gui"><table class="table table-striped table-hover">
  <tr>
    <th>Key</th>
    <th>Value</th>
  </tr>
  <tr>
    <td>
      <b>1</b>
    </td>
    <td>one!</td>
  </tr>
  <tr>
    <td>
      <b>5</b>
    </td>
    <td>five!</td>
  </tr>
</table></div></span></div>

</div>
<!-- END CODE -->

	</div>

</div>


<div class="row row-separated-micro">
  <div class="col-md-12"></div>
</div>

<!-- EXAMPLE gui.buttons -->

<div id="examplegui.buttons-title" class="row">
	<div class="col-md-12">
		<div class="caption"><span class="badge badge-eg-num">2</span> Constructing buttons</div>
	</div>
</div>

<div id="examplegui.buttons-body" class="row">

	<div id="examplegui.buttons-left" class="col-md-12">


<!-- START CODE -->
<div id="examplegui.buttons-code" class="code-clean">
<div class="example-line clearfix"><span class="pull-left left-code"><span class="_code_api">GUI</span><span class="_code_api">.btn</span>(<span class="_code_str">"OK"</span>);</span><span class="pull-right show-code"><span class="object-details"><span class="object-value">&lt;GUI widget that generates HTML on .toString() call&gt;</span><span class="object-class">Btn</span></span><div class="show-gui"><button type="button" class="btn btn-default" ng-click="_emit('OK', [])">OK</button></div></span><span class="pull-left left-code"></div>
<div class="empty-line clearfix">&nbsp;</div>
<div class="example-line clearfix"><span class="_code_api">GUI</span><span class="_code_api">.btn</span>(<span class="_code_str">"Hey"</span>).primary();</span><span class="pull-right show-code"><span class="object-details"><span class="object-value">&lt;GUI widget that generates HTML on .toString() call&gt;</span><span class="object-class">Btn</span></span><div class="show-gui"><button type="button" class="btn btn-primary" ng-click="_emit('Hey', [])">Hey</button></div></span><span class="pull-left left-code"></div>
<div class="empty-line clearfix">&nbsp;</div>
<div class="example-line clearfix"><span class="_code_api">GUI</span><span class="_code_api">.btn</span>(<span class="_code_api">GUI</span>.b(<span class="_code_str">"Delete"</span>)).danger();</span><span class="pull-right show-code"><span class="object-details"><span class="object-value">&lt;GUI widget that generates HTML on .toString() call&gt;</span><span class="object-class">Btn</span></span><div class="show-gui"><button type="button" class="btn btn-danger">
  <b>Delete</b>
</button></div></span><span class="pull-left left-code"></div>
<div class="empty-line clearfix">&nbsp;</div>
<div class="example-line clearfix"><span class="_code_api">GUI</span><span class="_code_api">.btn</span>(<span class="_code_api">GUI</span><span class="_code_api">.awesome</span>(<span class="_code_str">"cog"</span>), <span class="_code_str">" Something else"</span>).warning();</span><span class="pull-right show-code"><span class="object-details"><span class="object-value">&lt;GUI widget that generates HTML on .toString() call&gt;</span><span class="object-class">Btn</span></span><div class="show-gui"><button type="button" class="btn btn-warning" ng-click="_emit(' Something else', [])"><span class="fa fa-cog"></span> Something else</button></div></span><span class="pull-left left-code"></div>
<div class="empty-line clearfix">&nbsp;</div>
<div class="example-line clearfix"><span class="_code_api">GUI</span><span class="_code_api">.btn</span>(<span class="_code_str">"Cancel"</span>).link<span class="_code_api">To</span>(<span class="_code_str">"gui.html"</span>);</span><span class="pull-right show-code"><span class="object-details"><span class="object-value">&lt;GUI widget that generates HTML on .toString() call&gt;</span><span class="object-class">Btn</span></span><div class="show-gui"><a href="gui.html" class="btn btn-default">Cancel</a></div></span></div>

</div>
<!-- END CODE -->

	</div>

</div>


<div class="row row-separated-micro">
  <div class="col-md-12"></div>
</div>

<!-- EXAMPLE gui.mapedit -->

<div id="examplegui.mapedit-title" class="row">
	<div class="col-md-12">
		<div class="caption"><span class="badge badge-eg-num">3</span> Creating a form from a Map</div>
	</div>
</div>

<div id="examplegui.mapedit-body" class="row">

	<div id="examplegui.mapedit-left" class="col-md-12">


<!-- START CODE -->
<div id="examplegui.mapedit-code" class="code-clean">
<div class="example-line clearfix"><span class="pull-left left-code">Map&lt;<span class="_code_cls">String</span>, <span class="_code_cls">Object</span>&gt; movie = <span class="_code_api">U</span><span class="_code_api">.map</span>(<span class="_code_str">"Title"</span>, <span class="_code_str">"Hackers"</span>, <span class="_code_str">"cool"</span>, <span class="_code_kw">true</span>);</span><span class="pull-right show-code"><span class="object-details"><span class="object-value">{"Title":"Hackers","cool":true}</span><span class="object-class">LinkedHashMap</span></span></span><span class="pull-left left-code"></div>
<div class="empty-line clearfix">&nbsp;</div>
<div class="comment-line clearfix"><span class="_code_comment"><i class="fa fa-mortar-board _code_comment_icon"></i> Creating a form to edit the <span class="text-box">movie</span> map:</span></div>
<div class="empty-line clearfix">&nbsp;</div>
<div class="example-line clearfix"><span class="_code_api">GUI</span><span class="_code_api">.edit</span>(movie);</span><span class="pull-right show-code"><span class="object-details"><span class="object-value">&lt;GUI widget that generates HTML on .toString() call&gt;</span><span class="object-class">Form</span></span><div class="show-gui"><form class="" role="form">
  <div class="form-group">
    <label>Title: </label>
    <input _h="Title" type="text" class="form-control" value="Hackers" name="Title">
    <span class="field-error"></span>
  </div>
  <div class="form-group">
    <div class="checkbox">
      <label><input _h="cool" type="checkbox" name="cool" checked>Cool: </label>
    </div>
    <span class="field-error"></span>
  </div>
  <div class="form-group"></div>
</form></div></span><span class="pull-left left-code"></div>
<div class="empty-line clearfix">&nbsp;</div>
<div class="comment-line clearfix"><span class="_code_comment"><i class="fa fa-mortar-board _code_comment_icon"></i> Adding form buttons:</span></div>
<div class="empty-line clearfix">&nbsp;</div>
<div class="example-line clearfix"><span class="_code_api">GUI</span><span class="_code_api">.edit</span>(<span class="_code_api">U</span><span class="_code_api">.map</span>(<span class="_code_str">"Title"</span>, <span class="_code_str">""</span>))<span class="_code_api">.buttons</span>(<span class="_code_api">GUI</span><span class="_code_api">.btn</span>(<span class="_code_str">"OK"</span>));</span><span class="pull-right show-code"><span class="object-details"><span class="object-value">&lt;GUI widget that generates HTML on .toString() call&gt;</span><span class="object-class">Form</span></span><div class="show-gui"><form class="" role="form">
  <div class="form-group">
    <label>Title: </label>
    <input _h="Title" type="text" class="form-control" value="" name="Title">
    <span class="field-error"></span>
  </div>
  <div class="form-group">
    <button type="button" class="btn btn-default" ng-click="_emit('OK', [])">OK</button>
  </div>
</form></div></span></div>

</div>
<!-- END CODE -->

	</div>

</div>


<div class="row row-separated-micro">
  <div class="col-md-12"></div>
</div>

<!-- EXAMPLE gui.soon -->

<div id="examplegui.soon-title" class="row">
	<div class="col-md-12">
		<div class="caption"><span class="badge badge-eg-num">4</span> More documentation - coming soon...</div>
	</div>
</div>

<div id="examplegui.soon-body" class="row">

	<div id="examplegui.soon-left" class="col-md-12">


<!-- START CODE -->
<div id="examplegui.soon-code" class="code-clean">
<div class="empty-line clearfix">&nbsp;</div>

</div>
<!-- END CODE -->

	</div>

</div>


<div class="row row-separated-micro">
  <div class="col-md-12"></div>
</div>

</div>

<div class="col-md-2">
<div class="modules-right">
<h3 class="module-title">Rapidoid Modules:</h3>
<div class="module-wrap">
 <h4 class="module-title"><a href="http-fast.html"><a href="http-fast.html">rapidoid-http-fast</a></a></h4>
 <div class="module-box">Very Fast Web Server</div>
</div>
<div class="module-wrap">
 <h4 class="module-title"><a href="gui.html"><a href="gui.html">rapidoid-gui</a></a></h4>
 <div class="module-box">Web GUI Components (Bootstrap-based)</div>
</div>
<div class="module-wrap">
 <h4 class="module-title"><a href="web.html"><a href="web.html">rapidoid-web</a></a></h4>
 <div class="module-box">High-level POJO Web Framework</div>
</div>
<div class="module-wrap">
 <h4 class="module-title"><a href="fluent.html"><a href="fluent.html">rapidoid-fluent</a></a></h4>
 <div class="module-box">Fluent API for Clean Manipulation of Collections</div>
</div>
<div class="module-wrap">
 <h4 class="module-title"><a href="u.html"><a href="u.html">rapidoid-u</a></a></h4>
 <div class="module-box">Simple &amp; Sweet Utils</div>
</div>
</div>
</div>

</div>

<div class="row">
<div class="col-md-12">
    <div class="page-footer">Copyright (C) 2014 - 2015 <a rel="nofollow" href="http://www.nikolche.com">Nikolche Mihajlovski</a> and contributors</div>
</div>
</div>

</div> <!-- container -->

<script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>	

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-71483708-1', 'auto');
  ga('send', 'pageview');
</script>

<script async defer>
!function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http'
            : 'https';
    if (!d.getElementById(id)) {
        js = d.createElement(s);
        js.id = id;
        js.src = p + '://platform.twitter.com/widgets.js';
        fjs.parentNode.insertBefore(js, fjs);
    }
}(document, 'script', 'twitter-wjs');
</script>   

</body>
</html>