<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="" />
<meta name="author" content="" />

<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script src="rapidoid.min.js"></script>

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">

<link href="docs.css" type="text/css" rel="stylesheet" />
<link href="rapidoid.min.css" type="text/css" rel="stylesheet" />
<link href="theme-default.css" type="text/css" rel="stylesheet" />

<title>Rapidoid - The No-bullshit (Web) Frameworks for Java!</title>

<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
<script src="//platform.linkedin.com/in.js" type="text/javascript">lang: en_US</script>

</head>

<body class="rapidoid">

  <nav role="navigation" class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button data-target="#collapsable" class="navbar-toggle collapsed" data-toggle="collapse" type="button">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Rapidoid</a>
      </div>
      <div id="collapsable" class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-left">
	  <li class="active"><a href="/">Getting started</a></li>
	  <li><a href="community.html">Community &amp; Support</a></li>
	  <li><a href="https://github.com/rapidoid/rapidoid">Source on GitHub</a></li>
        </ul>

<div class="navbar-brand navbar-right">
				<a data-count-api="/repos/rapidoid/rapidoid#stargazers_count" data-count-href="/rapidoid/rapidoid/stargazers" data-icon="octicon-star" href="https://github.com/rapidoid/rapidoid" class="github-button">Star</a>
				<a data-count-api="/repos/rapidoid/rapidoid#forks_count" data-count-href="/rapidoid/rapidoid/network" data-icon="octicon-git-branch" href="https://github.com/rapidoid/rapidoid/fork" class="github-button">Fork</a>

				<script type="IN/Share" data-url="http://rapidoid.org/" data-counter="right"></script>
				
				<span class="g-plusone" data-size="medium"></span>
				
				<a href="https://twitter.com/share" rel="nofollow"
					class="twitter-share-button navbar-btn" data-url="http://rapidoid.org"
					data-text="#Rapidoid - New and Cool #Java web app #framework!" data-size="small">Tweet</a>
</div>
      </div>
    </div>
  </nav>

<div class="container">

		<div class="row">
			<div class="col-md-7 col-sm-12">
				<h4 id="main_subtitle">
					<span id="rapidoid-title">Rapidoid - The No-bullshit (Web) Frameworks for Java!</span>
				</h4>
			</div>

			<div class="col-md-5 col-sm-12">
<!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup" class="pull-right">
    <form action="http://rapidobest.us3.list-manage.com/subscribe/post?u=c2c27aa25fdef31d9513d6124&amp;id=08cd6ec699" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form-inline" target="_blank" novalidate>

        <div class="mc-field-group">
            <input type="email" value="" name="EMAIL" class="required email form-control input-sm" id="mce-EMAIL" placeholder="Your e-mail address"> <input type="submit" value="Subscribe to newsletter" name="subscribe" id="mc-embedded-subscribe" class="button btn btn-primary btn-sm">
        </div>
        <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display: none"></div>
            <div class="response" id="mce-success-response" style="display: none"></div>
        </div>
        <div style="position: absolute; left: -5000px;">
            <input type="text" name="b_c2c27aa25fdef31d9513d6124_08cd6ec699" value="">
        </div>
        <div class="clear"></div>
    </form>
</div>
<!--End mc_embed_signup-->

			</div>
		</div>

<!-- MODULE rapidoid-main -->

<div class="row row-separated-nano">
  <div class="col-md-8">


<div class="module-desc">
Rapidoid consists of several de-coupled modules/frameworks which can be used separately or together: Http Fast, Web, Fluent, U and many more...
</div>

<br><br>

  </div>
  
  <div class="col-md-4">
        <div class="eg_title">Add <b>rapidoid-web</b> as Maven dependency:</div>
<pre class="maven-code">
&lt;<span class="_code_tag">dependency</span>&gt;
    &lt;<span class="_code_tag">groupId</span>&gt;org.rapidoid&lt;/<span class="_code_tag">groupId</span>&gt;
    &lt;<span class="_code_tag">artifactId</span>&gt;rapidoid-web&lt;/<span class="_code_tag">artifactId</span>&gt;
    &lt;<span class="_code_tag">version</span>&gt;5.0.3&lt;/<span class="_code_tag">version</span>&gt;
&lt;/<span class="_code_tag">dependency</span>&gt;
</pre>

  </div>
  
</div>

<div class="row">
  
<div class="col-md-10">
<!-- EXAMPLE lowsimple -->

<div id="examplelowsimple-title" class="row">
	<div class="col-md-12">
		<div class="caption"><span class="badge badge-eg-num">1</span> Web page and RESTful service one-liners (<a href="http-fast.html">rapidoid-http-fast module</a>)</div>
	</div>
</div>

<div id="examplelowsimple-body" class="row">

	<div id="examplelowsimple-left" class="col-md-7">

		<pre id="examplelowsimple-code" class="code-clean">
<span class="_code_comment"><i class="fa fa-mortar-board _code_comment_icon"></i> Let's create a simple web page with 1 line of code:</span>
<span class="_code_cls">On</span>.page(<span class="_code_str">"/"</span>).gui(<span class="_code_str">"Hello world!"</span>);

<span class="_code_comment"><i class="fa fa-mortar-board _code_comment_icon"></i> Let's create a simple REST service with 1 line of code:</span>
<span class="_code_cls">On</span>.get(<span class="_code_str">"/size"</span>).json(<span class="_code_str">"msg"</span>, msg -&gt; msg.length());
</pre>
	</div>

    <div id="examplelowsimple-right" class="col-md-5">
        <div id="examplelowsimple-results" class="results">
            <div>
                <span class="badge eg-GET eg-verb">GET</span> <span class="badge eg-uri">/</span>
            </div>

                <div class="eg-result">
<!-- EXAMPLE#lowsimple HTML STARTS HERE -->
Hello world!
<!-- EXAMPLE#lowsimple HTML END HERE -->
                </div>

            <div>
                <span class="badge eg-GET eg-verb">GET</span> <span class="badge eg-uri">/size?msg=abc</span>
            </div>

                <div class="eg-result">
<!-- EXAMPLE#lowsimple HTML STARTS HERE -->
3
<!-- EXAMPLE#lowsimple HTML END HERE -->
                </div>

            <div>
                <span class="badge eg-GET eg-verb">GET</span> <span class="badge eg-uri">/other</span>
            </div>


                <div class="eg-error">
<!-- EXAMPLE#lowsimple ERROR STARTS HERE -->
<span class="not-found">404 Not found!</span>
<!-- EXAMPLE#lowsimple ERROR END HERE -->
                </div>
        </div>
    </div>
</div>


<!-- EXAMPLE fluent.teaser -->

<div id="examplefluent.teaser-title" class="row">
	<div class="col-md-12">
		<div class="caption"><span class="badge badge-eg-num">2</span> Sweet &amp; Fluent wrapper API for the Java 8 streams (<a href="fluent.html">rapidoid-fluent module</a>)</div>
	</div>
</div>

<div id="examplefluent.teaser-body" class="row">

	<div id="examplefluent.teaser-left" class="col-md-12">

		<pre id="examplefluent.teaser-code" class="code-clean">
<span class="_code_comment"><i class="fa fa-mortar-board _code_comment_icon"></i> Using Java 8? Now you can EASILY filter, map, group and search through collections:</span>

<span class="_code_api">Find</span>.firstOf(items).where(s -&gt; s.length() &lt; <span class="_code_num">3</span>);

<span class="_code_api">Find</span>.allOf(nums).where((k, v) -&gt; k &gt; <span class="_code_num">1</span>);

<span class="_code_api">For</span>.each(books).withNonNull(<span class="_code_cls">Book</span>::title).run(<span class="_code_kw">this</span>::publish);

<span class="_code_api">Do</span>.map(words).to(s -&gt; s.length());
    
<span class="_code_api">Do</span>.group(items).by(<span class="_code_cls">Item</span>::getCategory);

<span class="_code_api">Do</span>.reduce(words).by((a, b) -&gt; a + <span class="_code_str">":"</span> + b).orElse(<span class="_code_str">""</span>);

<span class="_code_api">Do</span>.map(nums).toList((k, v) -&gt; k * <span class="_code_num">2</span>);
</pre>
	</div>

</div>


<!-- EXAMPLE fluent.show -->

<div id="examplefluent.show-title" class="row">
	<div class="col-md-12">
		<div class="caption"><span class="badge badge-eg-num">3</span> Why is Rapidoid Fluent so sweet? (<a href="fluent.html">rapidoid-fluent module</a>)</div>
	</div>
</div>

<div id="examplefluent.show-body" class="row">

	<div id="examplefluent.show-left" class="col-md-12">

		<pre id="examplefluent.show-code" class="code-clean">
<span class="pull-left left-code">Map&lt;<span class="_code_cls">Integer</span>, <span class="_code_cls">String</span>&gt; nums = <span class="_code_api">U</span>.map(<span class="_code_num">1</span>, <span class="_code_str">"one"</span>, <span class="_code_num">2</span>, <span class="_code_str">"two"</span>, <span class="_code_num">3</span>, <span class="_code_str">"three"</span>);</span><span class="pull-right show-code"><span class="object-details"><span class="object-value">{"1":"one","2":"two","3":"three"}</span><span class="object-class">LinkedHashMap</span></span></span>

<span class="_code_comment"><i class="fa fa-mortar-board _code_comment_icon"></i> Find the even numbers from the map - with Rapidoid Fluent (and Java 8 streams behind the scenes):</span>

<span class="pull-left left-code"><span class="_code_api">Find</span>.allOf(nums).where((k, v) -&gt; k % <span class="_code_num">2</span> == <span class="_code_num">0</span>);</span><span class="pull-right show-code"><span class="object-details"><span class="object-value">{"2":"two"}</span><span class="object-class">HashMap</span></span></span>

<span class="_code_comment"><i class="fa fa-mortar-board _code_comment_icon"></i> That is equivalent to the following code:</span>

<span class="_code_cls">Map</span>&lt;<span class="_code_cls">Integer</span>, <span class="_code_cls">String</span>&gt; even = nums.entrySet().stream()
        .filter(num -&gt; num.getKey() % <span class="_code_num">2</span> == <span class="_code_num">0</span>)
        .collect(<span class="_code_cls">Collectors</span>.toMap(<span class="_code_cls">Entry</span>::getKey, <span class="_code_cls">Entry</span>::getValue));

<span class="pull-left left-code">System.out.println(even);</span><span class="pull-right show-code"><span class="object-details"><span class="object-value">{"2":"two"}</span><span class="object-class">HashMap</span></span></span>

<span class="_code_comment"><i class="fa fa-mortar-board _code_comment_icon"></i> Or, we can do the same thing in the old way:</span>

<span class="_code_cls">Map</span>&lt;<span class="_code_cls">Integer</span>, <span class="_code_cls">String</span>&gt; even2 = <span class="_code_kw">new</span> <span class="_code_cls">HashMap</span>&lt;&gt;();

<span class="_code_kw">for</span> (<span class="_code_cls">Entry</span>&lt;<span class="_code_cls">Integer</span>, <span class="_code_cls">String</span>&gt; num : nums.entrySet()) {
    <span class="_code_kw">int</span> k = num.getKey();
    <span class="_code_kw">if</span> (k % <span class="_code_num">2</span> == <span class="_code_num">0</span>) {
        even2.put(k, num.getValue());
    }
}

<span class="pull-left left-code">System.out.println(even2);</span><span class="pull-right show-code"><span class="object-details"><span class="object-value">{"2":"two"}</span><span class="object-class">HashMap</span></span></span>
</pre>
	</div>

</div>


<!-- EXAMPLE hellorest -->

<div id="examplehellorest-title" class="row">
	<div class="col-md-12">
		<div class="caption"><span class="badge badge-eg-num">4</span> &quot;Hello world&quot; RESTful service from POJO (<a href="web.html">rapidoid-web module</a>)</div>
	</div>
</div>

<div id="examplehellorest-body" class="row">

	<div id="examplehellorest-left" class="col-md-7">
		<div id="examplehellorest-codedesc" class="eg_title">NoBullshit.java</div>
		<pre id="examplehellorest-code" class="code-clean">
<span class="_code_ann">@Controller</span>
<span class="_code_kw">public</span> <span class="_code_kw">class</span> <span class="_code_cls">NoBullshit</span> {

    <span class="_code_ann">@GET</span>
    <span class="_code_kw">public</span> <span class="_code_cls">String</span> hello() {
        <span class="_code_kw">return</span> <span class="_code_str">"Hello, world!"</span>;
    }

}
</pre>
	</div>

    <div id="examplehellorest-right" class="col-md-5">
        <div id="examplehellorest-results" class="results">
            <div>
                <span class="badge eg-GET eg-verb">GET</span> <span class="badge eg-uri">/hello</span>
            </div>

                <div class="eg-result">
<!-- EXAMPLE#hellorest HTML STARTS HERE -->
"Hello, world!"
<!-- EXAMPLE#hellorest HTML END HERE -->
                </div>

            <div>
                <span class="badge eg-POST eg-verb">POST</span> <span class="badge eg-uri">/hello</span>
            </div>


                <div class="eg-error">
<!-- EXAMPLE#hellorest ERROR STARTS HERE -->
<span class="not-found">404 Not found!</span>
<!-- EXAMPLE#hellorest ERROR END HERE -->
                </div>
        </div>
    </div>
</div>


<!-- EXAMPLE restparams -->

<div id="examplerestparams-title" class="row">
	<div class="col-md-12">
		<div class="caption"><span class="badge badge-eg-num">5</span> URL parts as Method Parameters (<a href="web.html">rapidoid-web module</a>)</div>
	</div>
</div>

<div id="examplerestparams-body" class="row">

	<div id="examplerestparams-left" class="col-md-7">
		<div id="examplerestparams-codedesc" class="eg_title">SubUrlParams.java</div>
		<pre id="examplerestparams-code" class="code-clean">
<span class="_code_ann">@Controller</span>
<span class="_code_kw">public</span> <span class="_code_kw">class</span> <span class="_code_cls">SubUrlParams</span> {

    <span class="_code_ann">@GET</span>
    <span class="_code_kw">public</span> <span class="_code_cls">String</span> hey(<span class="_code_cls">String</span> name, <span class="_code_kw">int</span> age) {
        <span class="_code_kw">return</span> <span class="_code_api">U</span>.frmt(<span class="_code_str">"Hey %s (%s)"</span>, name, age);
    }

    <span class="_code_ann">@POST</span>
    <span class="_code_kw">public</span> <span class="_code_kw">int</span> size(<span class="_code_cls">String</span> s) {
        <span class="_code_kw">return</span> s.length();
    }

}
</pre>
	</div>

    <div id="examplerestparams-right" class="col-md-5">
        <div id="examplerestparams-results" class="results">
            <div>
                <span class="badge eg-GET eg-verb">GET</span> <span class="badge eg-uri">/hey/Joe/50</span>
            </div>

                <div class="eg-result">
<!-- EXAMPLE#restparams HTML STARTS HERE -->
"Hey Joe (50)"
<!-- EXAMPLE#restparams HTML END HERE -->
                </div>

            <div>
                <span class="badge eg-GET eg-verb">GET</span> <span class="badge eg-uri">/hey/You!/123</span>
            </div>

                <div class="eg-result">
<!-- EXAMPLE#restparams HTML STARTS HERE -->
"Hey You! (123)"
<!-- EXAMPLE#restparams HTML END HERE -->
                </div>

            <div>
                <span class="badge eg-POST eg-verb">POST</span> <span class="badge eg-uri">/size/abc</span>
            </div>

                <div class="eg-result">
<!-- EXAMPLE#restparams HTML STARTS HERE -->
3
<!-- EXAMPLE#restparams HTML END HERE -->
                </div>

        </div>
    </div>
</div>


<!-- EXAMPLE restjson -->

<div id="examplerestjson-title" class="row">
	<div class="col-md-12">
		<div class="caption"><span class="badge badge-eg-num">6</span> Automatic JSON Serialization of Data Structures (<a href="web.html">rapidoid-web module</a>)</div>
	</div>
</div>

<div id="examplerestjson-body" class="row">

	<div id="examplerestjson-left" class="col-md-7">
		<div id="examplerestjson-codedesc" class="eg_title">TextTools.java</div>
		<pre id="examplerestjson-code" class="code-clean">
<span class="_code_ann">@Controller</span>
<span class="_code_kw">public</span> <span class="_code_kw">class</span> <span class="_code_cls">TextTools</span> {

    <span class="_code_ann">@GET</span>
    <span class="_code_kw">public</span> <span class="_code_cls">Map</span>&lt;<span class="_code_cls">String</span>, <span class="_code_cls">String</span>&gt; upper(<span class="_code_cls">String</span> s) {
        <span class="_code_cls">String</span> big = s.toUpperCase();
        <span class="_code_kw">return</span> <span class="_code_api">U</span>.map(<span class="_code_str">"normal"</span>, s, <span class="_code_str">"big"</span>, big);
    }

    <span class="_code_ann">@POST</span>
    <span class="_code_kw">public</span> <span class="_code_cls">String</span>[] parts(<span class="_code_cls">String</span> text) {
        <span class="_code_kw">return</span> text.split(<span class="_code_str">"-"</span>);
    }

}
</pre>
	</div>

    <div id="examplerestjson-right" class="col-md-5">
        <div id="examplerestjson-results" class="results">
            <div>
                <span class="badge eg-GET eg-verb">GET</span> <span class="badge eg-uri">/upper/abc</span>
            </div>

                <div class="eg-result">
<!-- EXAMPLE#restjson HTML STARTS HERE -->
{"normal":"abc","big":"ABC"}
<!-- EXAMPLE#restjson HTML END HERE -->
                </div>

            <div>
                <span class="badge eg-POST eg-verb">POST</span> <span class="badge eg-uri">/parts/just-some-words</span>
            </div>

                <div class="eg-result">
<!-- EXAMPLE#restjson HTML STARTS HERE -->
["just","some","words"]
<!-- EXAMPLE#restjson HTML END HERE -->
                </div>

        </div>
    </div>
</div>


<!-- EXAMPLE beanjson -->

<div id="examplebeanjson-title" class="row">
	<div class="col-md-12">
		<div class="caption"><span class="badge badge-eg-num">7</span> Automatic Construction and Serialization of JavaBeans (<a href="web.html">rapidoid-web module</a>)</div>
	</div>
</div>

<div id="examplebeanjson-body" class="row">

	<div id="examplebeanjson-left" class="col-md-7">
		<div id="examplebeanjson-codedesc" class="eg_title">Book.java</div>
		<pre id="examplebeanjson-code" class="code-clean">
<span class="_code_kw">public</span> <span class="_code_kw">class</span> <span class="_code_cls">Book</span> {

    <span class="_code_kw">public</span> <span class="_code_cls">String</span> title = <span class="_code_str">"Untitled"</span>;

    <span class="_code_kw">private</span> <span class="_code_kw">int</span> year;

    <span class="_code_kw">public</span> <span class="_code_kw">int</span> getYear() {
        <span class="_code_kw">return</span> year;
    }

    <span class="_code_kw">public</span> <span class="_code_kw">void</span> setYear(<span class="_code_kw">int</span> year) {
        <span class="_code_kw">this</span>.year = year;
    }
}
</pre>
		<div id="examplebeanjson-codedesc" class="eg_title">EasyBeans.java</div>
		<pre id="examplebeanjson-code" class="code-clean">
<span class="_code_ann">@Controller</span>
<span class="_code_kw">public</span> <span class="_code_kw">class</span> <span class="_code_cls">EasyBeans</span> {

    <span class="_code_ann">@GET</span>
    <span class="_code_kw">public</span> <span class="_code_cls">Book</span> echo(<span class="_code_cls">Book</span> book) {
        <span class="_code_kw">return</span> book;
    }

}
</pre>
	</div>

    <div id="examplebeanjson-right" class="col-md-5">
        <div id="examplebeanjson-results" class="results">
            <div>
                <span class="badge eg-GET eg-verb">GET</span> <span class="badge eg-uri">/echo?year=2012&amp;title=Abc</span>
            </div>

                <div class="eg-result">
<!-- EXAMPLE#beanjson HTML STARTS HERE -->
{"title":"Abc","year":2012}
<!-- EXAMPLE#beanjson HTML END HERE -->
                </div>

            <div>
                <span class="badge eg-GET eg-verb">GET</span> <span class="badge eg-uri">/echo?year=2015</span>
            </div>

                <div class="eg-result">
<!-- EXAMPLE#beanjson HTML STARTS HERE -->
{"title":"Untitled","year":2015}
<!-- EXAMPLE#beanjson HTML END HERE -->
                </div>

        </div>
    </div>
</div>


<!-- EXAMPLE restnamedparams -->

<div id="examplerestnamedparams-title" class="row">
	<div class="col-md-12">
		<div class="caption"><span class="badge badge-eg-num">8</span> Named URL Parameters (<a href="web.html">rapidoid-web module</a>)</div>
	</div>
</div>

<div id="examplerestnamedparams-body" class="row">

	<div id="examplerestnamedparams-left" class="col-md-7">
		<div id="examplerestnamedparams-codedesc" class="eg_title">NamedParams.java</div>
		<pre id="examplerestnamedparams-code" class="code-clean">
<span class="_code_ann">@Controller</span>
<span class="_code_kw">public</span> <span class="_code_kw">class</span> <span class="_code_cls">NamedParams</span> {

    <span class="_code_ann">@GET</span>
    <span class="_code_kw">public</span> <span class="_code_kw">int</span> sum(<span class="_code_ann">@Param</span>(<span class="_code_str">"x"</span>) <span class="_code_kw">int</span> x, <span class="_code_ann">@Param</span>(<span class="_code_str">"y"</span>) <span class="_code_kw">int</span> y) {
        <span class="_code_kw">return</span> x + y;
    }

}
</pre>
	</div>

    <div id="examplerestnamedparams-right" class="col-md-5">
        <div id="examplerestnamedparams-results" class="results">
            <div>
                <span class="badge eg-GET eg-verb">GET</span> <span class="badge eg-uri">/sum?x=1&amp;y=2</span>
            </div>

                <div class="eg-result">
<!-- EXAMPLE#restnamedparams HTML STARTS HERE -->
3
<!-- EXAMPLE#restnamedparams HTML END HERE -->
                </div>

            <div>
                <span class="badge eg-GET eg-verb">GET</span> <span class="badge eg-uri">/sum?y=10&amp;x=5&amp;z=12345</span>
            </div>

                <div class="eg-result">
<!-- EXAMPLE#restnamedparams HTML STARTS HERE -->
15
<!-- EXAMPLE#restnamedparams HTML END HERE -->
                </div>

        </div>
    </div>
</div>


<!-- EXAMPLE restlistparams -->

<div id="examplerestlistparams-title" class="row">
	<div class="col-md-12">
		<div class="caption"><span class="badge badge-eg-num">9</span> URL Parameters as List (<a href="web.html">rapidoid-web module</a>)</div>
	</div>
</div>

<div id="examplerestlistparams-body" class="row">

	<div id="examplerestlistparams-left" class="col-md-7">
		<div id="examplerestlistparams-codedesc" class="eg_title">ParamsAsList.java</div>
		<pre id="examplerestlistparams-code" class="code-clean">
<span class="_code_ann">@Controller</span>
<span class="_code_kw">public</span> <span class="_code_kw">class</span> <span class="_code_cls">ParamsAsList</span> {

    <span class="_code_ann">@POST</span>
    <span class="_code_kw">public</span> <span class="_code_cls">List</span>&lt;<span class="_code_cls">String</span>&gt; echo(<span class="_code_cls">List</span>&lt;<span class="_code_cls">String</span>&gt; params) {
        <span class="_code_kw">return</span> params;
    }

}
</pre>
	</div>

    <div id="examplerestlistparams-right" class="col-md-5">
        <div id="examplerestlistparams-results" class="results">
            <div>
                <span class="badge eg-POST eg-verb">POST</span> <span class="badge eg-uri">/echo/2015/Mart/20</span>
            </div>

                <div class="eg-result">
<!-- EXAMPLE#restlistparams HTML STARTS HERE -->
["2015","Mart","20"]
<!-- EXAMPLE#restlistparams HTML END HERE -->
                </div>

            <div>
                <span class="badge eg-POST eg-verb">POST</span> <span class="badge eg-uri">/echo/foo/bar/</span>
            </div>

                <div class="eg-result">
<!-- EXAMPLE#restlistparams HTML STARTS HERE -->
["foo","bar"]
<!-- EXAMPLE#restlistparams HTML END HERE -->
                </div>

        </div>
    </div>
</div>


<!-- EXAMPLE restmapparams -->

<div id="examplerestmapparams-title" class="row">
	<div class="col-md-12">
		<div class="caption"><span class="badge badge-eg-num">10</span> URL Parameters as Map (<a href="web.html">rapidoid-web module</a>)</div>
	</div>
</div>

<div id="examplerestmapparams-body" class="row">

	<div id="examplerestmapparams-left" class="col-md-7">
		<div id="examplerestmapparams-codedesc" class="eg_title">ParamsAsMap.java</div>
		<pre id="examplerestmapparams-code" class="code-clean">
<span class="_code_ann">@Controller</span>
<span class="_code_kw">public</span> <span class="_code_kw">class</span> <span class="_code_cls">ParamsAsMap</span> {

    <span class="_code_ann">@GET</span>
    <span class="_code_kw">public</span> <span class="_code_cls">Map</span>&lt;<span class="_code_cls">String</span>, <span class="_code_cls">String</span>&gt; echo(<span class="_code_cls">Map</span>&lt;<span class="_code_cls">String</span>, <span class="_code_cls">String</span>&gt; params) {
        <span class="_code_kw">return</span> params;
    }

}
</pre>
	</div>

    <div id="examplerestmapparams-right" class="col-md-5">
        <div id="examplerestmapparams-results" class="results">
            <div>
                <span class="badge eg-GET eg-verb">GET</span> <span class="badge eg-uri">/echo?x=1&amp;y=23</span>
            </div>

                <div class="eg-result">
<!-- EXAMPLE#restmapparams HTML STARTS HERE -->
{"x":"1","y":"23"}
<!-- EXAMPLE#restmapparams HTML END HERE -->
                </div>

            <div>
                <span class="badge eg-GET eg-verb">GET</span> <span class="badge eg-uri">/echo?name=Abc&amp;year=2015</span>
            </div>

                <div class="eg-result">
<!-- EXAMPLE#restmapparams HTML STARTS HERE -->
{"name":"Abc","year":"2015"}
<!-- EXAMPLE#restmapparams HTML END HERE -->
                </div>

        </div>
    </div>
</div>


<!-- EXAMPLE hello -->

<div id="examplehello-title" class="row">
	<div class="col-md-12">
		<div class="caption"><span class="badge badge-eg-num">11</span> Hello, web pages! (<a href="web.html">rapidoid-web module</a>)</div>
	</div>
</div>

<div id="examplehello-body" class="row">

	<div id="examplehello-left" class="col-md-7">
		<div id="examplehello-codedesc" class="eg_title">Hello.java</div>
		<pre id="examplehello-code" class="code-clean">
<span class="_code_ann">@Controller</span>
<span class="_code_kw">public</span> <span class="_code_kw">class</span> <span class="_code_cls">Hello</span> {

    <span class="_code_ann">@Page</span>(uri = <span class="_code_str">"/"</span>)
    <span class="_code_kw">public</span> <span class="_code_cls">String</span> hello() {
        <span class="_code_kw">return</span> <span class="_code_str">"Hello, world!"</span>;
    }

}
</pre>
	</div>

    <div id="examplehello-right" class="col-md-5">
        <div id="examplehello-results" class="results">
            <div>
                <span class="badge eg-GET eg-verb">GET</span> <span class="badge eg-uri">/</span>
            </div>

                <div class="eg-result">
<!-- EXAMPLE#hello HTML STARTS HERE -->
<!--state::null-->
<nav role="navigation" class="navbar navbar-default">
    <div class="">

        <div class="navbar-header">
            <button data-target="#collapsable" class="navbar-toggle collapsed" data-toggle="collapse" type="button">
                <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">App</a>
        </div>

        <div id="collapsable" class="collapse navbar-collapse">







        </div>


    </div>
</nav>
Hello, world!

<!-- EXAMPLE#hello HTML END HERE -->
                </div>

            <div>
                <span class="badge eg-POST eg-verb">POST</span> <span class="badge eg-uri">/</span>
            </div>

                <div class="eg-result">
<!-- EXAMPLE#hello HTML STARTS HERE -->
<!--state::null-->
<nav role="navigation" class="navbar navbar-default">
    <div class="">

        <div class="navbar-header">
            <button data-target="#collapsable" class="navbar-toggle collapsed" data-toggle="collapse" type="button">
                <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">App</a>
        </div>

        <div id="collapsable" class="collapse navbar-collapse">







        </div>


    </div>
</nav>
Hello, world!

<!-- EXAMPLE#hello HTML END HERE -->
                </div>

        </div>
    </div>
</div>


<!-- EXAMPLE hi -->

<div id="examplehi-title" class="row">
	<div class="col-md-12">
		<div class="caption"><span class="badge badge-eg-num">12</span> Building HTML pages with Java (<a href="web.html">rapidoid-web module</a>)</div>
	</div>
</div>

<div id="examplehi-body" class="row">

	<div id="examplehi-left" class="col-md-7">
		<div id="examplehi-codedesc" class="eg_title">YourName.java</div>
		<pre id="examplehi-code" class="code-clean">
<span class="_code_ann">@Controller</span>
<span class="_code_kw">public</span> <span class="_code_kw">class</span> <span class="_code_cls">YourName</span> {

    <span class="_code_ann">@Page</span>(title = <span class="_code_str">"What is your name?"</span>)
    <span class="_code_kw">public</span> <span class="_code_cls">Tag</span> hi(<span class="_code_cls">String</span> name) {
        <span class="_code_kw">return</span> <span class="_code_cls">GUI</span>.h4(<span class="_code_str">"Hi, "</span>, <span class="_code_cls">GUI</span>.i(name), <span class="_code_str">"!"</span>);
    }

}
</pre>
	</div>

    <div id="examplehi-right" class="col-md-5">
        <div id="examplehi-results" class="results">
            <div>
                <span class="badge eg-GET eg-verb">GET</span> <span class="badge eg-uri">/hi/Rapidoid</span>
            </div>

                <div class="eg-result">
<!-- EXAMPLE#hi HTML STARTS HERE -->
<!--state::null-->
<nav role="navigation" class="navbar navbar-default">
    <div class="">

        <div class="navbar-header">
            <button data-target="#collapsable" class="navbar-toggle collapsed" data-toggle="collapse" type="button">
                <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">What is your name?</a>
        </div>

        <div id="collapsable" class="collapse navbar-collapse">







        </div>


    </div>
</nav>
<h4>Hi, <i>Rapidoid</i>!</h4>

<!-- EXAMPLE#hi HTML END HERE -->
                </div>

            <div>
                <span class="badge eg-POST eg-verb">POST</span> <span class="badge eg-uri">/hi/there</span>
            </div>

                <div class="eg-result">
<!-- EXAMPLE#hi HTML STARTS HERE -->
<!--state::null-->
<nav role="navigation" class="navbar navbar-default">
    <div class="">

        <div class="navbar-header">
            <button data-target="#collapsable" class="navbar-toggle collapsed" data-toggle="collapse" type="button">
                <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">What is your name?</a>
        </div>

        <div id="collapsable" class="collapse navbar-collapse">







        </div>


    </div>
</nav>
<h4>Hi, <i>there</i>!</h4>

<!-- EXAMPLE#hi HTML END HERE -->
                </div>

        </div>
    </div>
</div>


<!-- EXAMPLE raw -->

<div id="exampleraw-title" class="row">
	<div class="col-md-12">
		<div class="caption"><span class="badge badge-eg-num">13</span> Raw HTML pages (<a href="web.html">rapidoid-web module</a>)</div>
	</div>
</div>

<div id="exampleraw-body" class="row">

	<div id="exampleraw-left" class="col-md-7">
		<div id="exampleraw-codedesc" class="eg_title">Simple.java</div>
		<pre id="exampleraw-code" class="code-clean">
<span class="_code_ann">@Controller</span>
<span class="_code_kw">public</span> <span class="_code_kw">class</span> <span class="_code_cls">Simple</span> {

    <span class="_code_ann">@Page</span>(raw = true)
    <span class="_code_kw">public</span> <span class="_code_cls">Object</span> simple() {
        <span class="_code_kw">return</span> <span class="_code_str">"&lt;p&gt;&lt;b&gt;RAW&lt;/b&gt; HTML!&lt;p&gt;"</span>;
    }

}
</pre>
	</div>

    <div id="exampleraw-right" class="col-md-5">
        <div id="exampleraw-results" class="results">
            <div>
                <span class="badge eg-GET eg-verb">GET</span> <span class="badge eg-uri">/simple</span>
            </div>

                <div class="eg-result">
<!-- EXAMPLE#raw HTML STARTS HERE -->
<p><b>RAW</b> HTML!<p>
<!-- EXAMPLE#raw HTML END HERE -->
                </div>

        </div>
    </div>
</div>


<!-- EXAMPLE showmovie -->

<div id="exampleshowmovie-title" class="row">
	<div class="col-md-12">
		<div class="caption"><span class="badge badge-eg-num">14</span> Display bean properties (<a href="web.html">rapidoid-web module</a>)</div>
	</div>
</div>

<div id="exampleshowmovie-body" class="row">

	<div id="exampleshowmovie-left" class="col-md-7">
		<div id="exampleshowmovie-codedesc" class="eg_title">Movie.java</div>
		<pre id="exampleshowmovie-code" class="code-clean">
<span class="_code_kw">public</span> <span class="_code_kw">class</span> <span class="_code_cls">Movie</span> {
    <span class="_code_kw">public</span> <span class="_code_cls">String</span> title;
    <span class="_code_kw">public</span> <span class="_code_kw">int</span> year;
}
</pre>
		<div id="exampleshowmovie-codedesc" class="eg_title">Movies.java</div>
		<pre id="exampleshowmovie-code" class="code-clean">
<span class="_code_ann">@Controller</span>
<span class="_code_kw">public</span> <span class="_code_kw">class</span> <span class="_code_cls">Movies</span> {

    <span class="_code_ann">@Page</span>(uri = <span class="_code_str">"/"</span>, title = <span class="_code_str">"Movie details"</span>)
    <span class="_code_kw">public</span> <span class="_code_cls">Object</span> movie() {
        <span class="_code_cls">Movie</span> movie = <span class="_code_kw">new</span> <span class="_code_cls">Movie</span>();
        movie.title = <span class="_code_str">"Chappie"</span>;
        movie.year = <span class="_code_num">2015</span>;

        <span class="_code_kw">return</span> <span class="_code_cls">GUI</span>.show(movie).buttons(<span class="_code_cls">GUI</span>.btn(<span class="_code_str">"OK"</span>));
    }

}
</pre>
	</div>

    <div id="exampleshowmovie-right" class="col-md-5">
        <div id="exampleshowmovie-results" class="results">
            <div>
                <span class="badge eg-GET eg-verb">GET</span> <span class="badge eg-uri">/</span>
            </div>

                <div class="eg-result">
<!-- EXAMPLE#showmovie HTML STARTS HERE -->
<!--state::null-->
<nav role="navigation" class="navbar navbar-default">
    <div class="">

        <div class="navbar-header">
            <button data-target="#collapsable" class="navbar-toggle collapsed" data-toggle="collapse" type="button">
                <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Movie details</a>
        </div>

        <div id="collapsable" class="collapse navbar-collapse">







        </div>


    </div>
</nav>
<form class="" role="form">
  <div class="form-group">
    <label>Title: </label>
    <span class="display-wrap">Chappie</span>
    <span class="field-error"></span>
  </div>
  <div class="form-group">
    <label>Year: </label>
    <span class="display-wrap">2015</span>
    <span class="field-error"></span>
  </div>
  <div class="form-group">
    <button type="button" class="btn btn-default" ng-click="_emit('OK', [])">OK</button>
  </div>
</form>

<!-- EXAMPLE#showmovie HTML END HERE -->
                </div>

        </div>
    </div>
</div>


<!-- EXAMPLE editmovie -->

<div id="exampleeditmovie-title" class="row">
	<div class="col-md-12">
		<div class="caption"><span class="badge badge-eg-num">15</span> Edit bean properties (<a href="web.html">rapidoid-web module</a>)</div>
	</div>
</div>

<div id="exampleeditmovie-body" class="row">

	<div id="exampleeditmovie-left" class="col-md-7">
		<div id="exampleeditmovie-codedesc" class="eg_title">Movie.java</div>
		<pre id="exampleeditmovie-code" class="code-clean">
<span class="_code_kw">public</span> <span class="_code_kw">class</span> <span class="_code_cls">Movie</span> {
    <span class="_code_kw">public</span> <span class="_code_cls">String</span> title;
    <span class="_code_kw">public</span> <span class="_code_kw">int</span> year;
}
</pre>
		<div id="exampleeditmovie-codedesc" class="eg_title">Movies.java</div>
		<pre id="exampleeditmovie-code" class="code-clean">
<span class="_code_ann">@Controller</span>
<span class="_code_kw">public</span> <span class="_code_kw">class</span> <span class="_code_cls">Movies</span> {

    <span class="_code_ann">@Page</span>(uri = <span class="_code_str">"/"</span>, title = <span class="_code_str">"Edit movie details"</span>)
    <span class="_code_kw">public</span> <span class="_code_cls">Object</span> movie() {
        <span class="_code_cls">Movie</span> movie = <span class="_code_kw">new</span> <span class="_code_cls">Movie</span>();
        movie.title = <span class="_code_str">"Chappie"</span>;
        movie.year = <span class="_code_num">2015</span>;

        <span class="_code_cls">Btn</span> save = <span class="_code_cls">GUI</span>.btn(<span class="_code_str">"Save"</span>).primary();
        <span class="_code_kw">return</span> <span class="_code_cls">GUI</span>.edit(movie).buttons(save);
    }

}
</pre>
	</div>

    <div id="exampleeditmovie-right" class="col-md-5">
        <div id="exampleeditmovie-results" class="results">
            <div>
                <span class="badge eg-GET eg-verb">GET</span> <span class="badge eg-uri">/</span>
            </div>

                <div class="eg-result">
<!-- EXAMPLE#editmovie HTML STARTS HERE -->
<!--state::null-->
<nav role="navigation" class="navbar navbar-default">
    <div class="">

        <div class="navbar-header">
            <button data-target="#collapsable" class="navbar-toggle collapsed" data-toggle="collapse" type="button">
                <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Edit movie details</a>
        </div>

        <div id="collapsable" class="collapse navbar-collapse">







        </div>


    </div>
</nav>
<form class="" role="form">
  <div class="form-group">
    <label>Title: </label>
    <input _h="title" type="text" class="form-control" value="Chappie" name="title">
    <span class="field-error"></span>
  </div>
  <div class="form-group">
    <label>Year: </label>
    <input _h="year" type="text" class="form-control" value="2015" name="year">
    <span class="field-error"></span>
  </div>
  <div class="form-group">
    <button type="button" class="btn btn-primary" ng-click="_emit('Save', [])">Save</button>
  </div>
</form>

<!-- EXAMPLE#editmovie HTML END HERE -->
                </div>

        </div>
    </div>
</div>


<!-- EXAMPLE paramgrid -->

<div id="exampleparamgrid-title" class="row">
	<div class="col-md-12">
		<div class="caption"><span class="badge badge-eg-num">16</span> Create key-value data grid from a Map (<a href="web.html">rapidoid-web module</a>)</div>
	</div>
</div>

<div id="exampleparamgrid-body" class="row">

	<div id="exampleparamgrid-left" class="col-md-7">
		<div id="exampleparamgrid-codedesc" class="eg_title">ParamGrid.java</div>
		<pre id="exampleparamgrid-code" class="code-clean">
<span class="_code_ann">@Controller</span>
<span class="_code_kw">public</span> <span class="_code_kw">class</span> <span class="_code_cls">ParamGrid</span> {

    <span class="_code_ann">@Page</span>(title = <span class="_code_str">"Grid of request parameters"</span>)
    <span class="_code_kw">public</span> <span class="_code_cls">Object</span> table(<span class="_code_cls">Map</span>&lt;<span class="_code_cls">String</span>, <span class="_code_cls">String</span>&gt; params) {
        <span class="_code_kw">return</span> <span class="_code_cls">GUI</span>.grid(params);
    }

}
</pre>
	</div>

    <div id="exampleparamgrid-right" class="col-md-5">
        <div id="exampleparamgrid-results" class="results">
            <div>
                <span class="badge eg-GET eg-verb">GET</span> <span class="badge eg-uri">/table?name=Highlander&amp;age=700&amp;weapon=sword</span>
            </div>

                <div class="eg-result">
<!-- EXAMPLE#paramgrid HTML STARTS HERE -->
<!--state::null-->
<nav role="navigation" class="navbar navbar-default">
    <div class="">

        <div class="navbar-header">
            <button data-target="#collapsable" class="navbar-toggle collapsed" data-toggle="collapse" type="button">
                <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Grid of request parameters</a>
        </div>

        <div id="collapsable" class="collapse navbar-collapse">







        </div>


    </div>
</nav>
<table class="table table-striped table-hover">
  <tr>
    <th>Key</th>
    <th>Value</th>
  </tr>
  <tr>
    <td>name</td>
    <td>Highlander</td>
  </tr>
  <tr>
    <td>age</td>
    <td>700</td>
  </tr>
  <tr>
    <td>weapon</td>
    <td>sword</td>
  </tr>
</table>

<!-- EXAMPLE#paramgrid HTML END HERE -->
                </div>

        </div>
    </div>
</div>


<!-- EXAMPLE injection -->

<div id="exampleinjection-title" class="row">
	<div class="col-md-12">
		<div class="caption"><span class="badge badge-eg-num">17</span> Dependency injection of singletons (<a href="web.html">rapidoid-web module</a>)</div>
	</div>
</div>

<div id="exampleinjection-body" class="row">

	<div id="exampleinjection-left" class="col-md-7">
		<div id="exampleinjection-codedesc" class="eg_title">Bar.java</div>
		<pre id="exampleinjection-code" class="code-clean">
<span class="_code_ann">@Controller</span>(url = <span class="_code_str">"/bar"</span>)
<span class="_code_kw">public</span> <span class="_code_kw">class</span> <span class="_code_cls">Bar</span> {

    <span class="_code_ann">@Inject</span>
    <span class="_code_kw">public</span> <span class="_code_cls">Foo</span> foo;

    <span class="_code_ann">@GET</span>(uri = <span class="_code_str">"/hi"</span>)
    <span class="_code_kw">public</span> <span class="_code_cls">String</span> hello() {
        <span class="_code_kw">return</span> foo.msg();
    }

    <span class="_code_kw">public</span> <span class="_code_cls">String</span> msg() {
        <span class="_code_kw">return</span> <span class="_code_str">"Hello from Bar!"</span>;
    }

}
</pre>
		<div id="exampleinjection-codedesc" class="eg_title">Foo.java</div>
		<pre id="exampleinjection-code" class="code-clean">
<span class="_code_ann">@Controller</span>(url = <span class="_code_str">"/foo"</span>)
<span class="_code_kw">public</span> <span class="_code_kw">class</span> <span class="_code_cls">Foo</span> {

    <span class="_code_ann">@Inject</span>
    <span class="_code_kw">public</span> <span class="_code_cls">Bar</span> bar;

    <span class="_code_kw">private</span> <span class="_code_kw">int</span> count;

    <span class="_code_ann">@GET</span>(uri = <span class="_code_str">"/hi"</span>)
    <span class="_code_kw">public</span> <span class="_code_cls">String</span> hello() {
        <span class="_code_kw">return</span> ++count + <span class="_code_str">": "</span> + bar.msg();
    }

    <span class="_code_kw">public</span> <span class="_code_cls">String</span> msg() {
        <span class="_code_kw">return</span> <span class="_code_str">"Hello from Foo!"</span>;
    }

}
</pre>
	</div>

    <div id="exampleinjection-right" class="col-md-5">
        <div id="exampleinjection-results" class="results">
            <div>
                <span class="badge eg-GET eg-verb">GET</span> <span class="badge eg-uri">/foo/hi</span>
            </div>

                <div class="eg-result">
<!-- EXAMPLE#injection HTML STARTS HERE -->
"2151: Hello from Bar!"
<!-- EXAMPLE#injection HTML END HERE -->
                </div>

            <div>
                <span class="badge eg-GET eg-verb">GET</span> <span class="badge eg-uri">/bar/hi</span>
            </div>

                <div class="eg-result">
<!-- EXAMPLE#injection HTML STARTS HERE -->
"Hello from Foo!"
<!-- EXAMPLE#injection HTML END HERE -->
                </div>

            <div>
                <span class="badge eg-GET eg-verb">GET</span> <span class="badge eg-uri">/foo/hi</span>
            </div>

                <div class="eg-result">
<!-- EXAMPLE#injection HTML STARTS HERE -->
"2152: Hello from Bar!"
<!-- EXAMPLE#injection HTML END HERE -->
                </div>

        </div>
    </div>
</div>


<!-- EXAMPLE u.coll -->

<div id="exampleu.coll-title" class="row">
	<div class="col-md-12">
		<div class="caption"><span class="badge badge-eg-num">18</span> Creating collections (<a href="u.html">rapidoid-u module</a>)</div>
	</div>
</div>

<div id="exampleu.coll-body" class="row">

	<div id="exampleu.coll-left" class="col-md-12">

		<pre id="exampleu.coll-code" class="code-clean">
<span class="_code_comment"><i class="fa fa-mortar-board _code_comment_icon"></i> Creating a list:</span>

<span class="pull-left left-code">List&lt;<span class="_code_cls">Integer</span>&gt; numbers = <span class="_code_api">U</span>.list(<span class="_code_num">10</span>, <span class="_code_num">20</span>, <span class="_code_num">70</span>);</span><span class="pull-right show-code"><span class="object-details"><span class="object-value">[10,20,70]</span><span class="object-class">ArrayList</span></span></span>

<span class="_code_comment"><i class="fa fa-mortar-board _code_comment_icon"></i> Creating a set:</span>

<span class="pull-left left-code">Set&lt;<span class="_code_cls">String</span>&gt; words = <span class="_code_api">U</span>.set(<span class="_code_str">"abc"</span>, <span class="_code_str">"xy"</span>, <span class="_code_str">"rapidoid"</span>);</span><span class="pull-right show-code"><span class="object-details"><span class="object-value">["abc","xy","rapidoid"]</span><span class="object-class">LinkedHashSet</span></span></span>

<span class="_code_comment"><i class="fa fa-mortar-board _code_comment_icon"></i> Creating a map:</span>

<span class="pull-left left-code">Map&lt;<span class="_code_cls">Integer</span>, <span class="_code_cls">String</span>&gt; nums = <span class="_code_api">U</span>.map(<span class="_code_num">1</span>, <span class="_code_str">"one"</span>, <span class="_code_num">5</span>, <span class="_code_str">"five"</span>);</span><span class="pull-right show-code"><span class="object-details"><span class="object-value">{"1":"one","5":"five"}</span><span class="object-class">LinkedHashMap</span></span></span>
</pre>
	</div>

</div>


<!-- EXAMPLE u.collutils -->

<div id="exampleu.collutils-title" class="row">
	<div class="col-md-12">
		<div class="caption"><span class="badge badge-eg-num">19</span> Collection utils (<a href="u.html">rapidoid-u module</a>)</div>
	</div>
</div>

<div id="exampleu.collutils-body" class="row">

	<div id="exampleu.collutils-left" class="col-md-12">

		<pre id="exampleu.collutils-code" class="code-clean">
<span class="pull-left left-code">List&lt;<span class="_code_cls">Integer</span>&gt; words = <span class="_code_api">U</span>.list(<span class="_code_num">10</span>, <span class="_code_num">20</span>, <span class="_code_num">30</span>);</span><span class="pull-right show-code"><span class="object-details"><span class="object-value">[10,20,30]</span><span class="object-class">ArrayList</span></span></span>

<span class="pull-left left-code">Map&lt;<span class="_code_cls">Integer</span>, <span class="_code_cls">String</span>&gt; nums = <span class="_code_api">U</span>.map(<span class="_code_num">1</span>, <span class="_code_str">"one"</span>, <span class="_code_num">5</span>, <span class="_code_str">"five"</span>);</span><span class="pull-right show-code"><span class="object-details"><span class="object-value">{"1":"one","5":"five"}</span><span class="object-class">LinkedHashMap</span></span></span>

<span class="_code_comment"><i class="fa fa-mortar-board _code_comment_icon"></i> U.isEmpty utils:</span>

<span class="pull-left left-code"><span class="_code_api">U</span>.isEmpty(words);</span><span class="pull-right show-code"><span class="object-details"><span class="object-value">false</span><span class="object-class">Boolean</span></span></span>

<span class="pull-left left-code"><span class="_code_api">U</span>.isEmpty(nums);</span><span class="pull-right show-code"><span class="object-details"><span class="object-value">false</span><span class="object-class">Boolean</span></span></span>
</pre>
	</div>

</div>


<!-- EXAMPLE u.strutils -->

<div id="exampleu.strutils-title" class="row">
	<div class="col-md-12">
		<div class="caption"><span class="badge badge-eg-num">20</span> String utils (<a href="u.html">rapidoid-u module</a>)</div>
	</div>
</div>

<div id="exampleu.strutils-body" class="row">

	<div id="exampleu.strutils-left" class="col-md-12">

		<pre id="exampleu.strutils-code" class="code-clean">
<span class="_code_comment"><i class="fa fa-mortar-board _code_comment_icon"></i> Is it empty or null:</span>

<span class="_code_cls">String</span> s = null;
<span class="pull-left left-code"><span class="_code_api">U</span>.isEmpty(s);</span><span class="pull-right show-code"><span class="object-details"><span class="object-value">true</span><span class="object-class">Boolean</span></span></span>

<span class="pull-left left-code"><span class="_code_api">U</span>.isEmpty(<span class="_code_str">""</span>);</span><span class="pull-right show-code"><span class="object-details"><span class="object-value">true</span><span class="object-class">Boolean</span></span></span>

<span class="pull-left left-code"><span class="_code_api">U</span>.isEmpty(<span class="_code_str">"hey"</span>);</span><span class="pull-right show-code"><span class="object-details"><span class="object-value">false</span><span class="object-class">Boolean</span></span></span>

<span class="_code_comment"><i class="fa fa-mortar-board _code_comment_icon"></i> Trim left by prefix:</span>

<span class="pull-left left-code"><span class="_code_api">U</span>.triml(<span class="_code_str">"/abc/"</span>, <span class="_code_str">"/"</span>);</span><span class="pull-right show-code"><span class="object-details"><span class="object-value">"abc/"</span><span class="object-class">String</span></span></span>

<span class="_code_comment"><i class="fa fa-mortar-board _code_comment_icon"></i> Trim right by suffix:</span>

<span class="pull-left left-code"><span class="_code_api">U</span>.trimr(<span class="_code_str">"/abc/"</span>, <span class="_code_str">"/"</span>);</span><span class="pull-right show-code"><span class="object-details"><span class="object-value">"/abc"</span><span class="object-class">String</span></span></span>

<span class="_code_comment"><i class="fa fa-mortar-board _code_comment_icon"></i> Substring supporting negative positions:</span>

<span class="pull-left left-code"><span class="_code_api">U</span>.mid(<span class="_code_str">"abcde"</span>, <span class="_code_num">1</span>, <span class="_code_num">2</span>);</span><span class="pull-right show-code"><span class="object-details"><span class="object-value">"b"</span><span class="object-class">String</span></span></span> <span class="_code_linecomm">// same as "abcde".substring(1, 2)</span>

<span class="pull-left left-code"><span class="_code_api">U</span>.mid(<span class="_code_str">"abcde"</span>, <span class="_code_num">2</span>, -<span class="_code_num">1</span>);</span><span class="pull-right show-code"><span class="object-details"><span class="object-value">"cd"</span><span class="object-class">String</span></span></span> <span class="_code_linecomm">// -1 means "1 from right to left"</span>

<span class="pull-left left-code"><span class="_code_api">U</span>.mid(<span class="_code_str">"abcde"</span>, <span class="_code_num">0</span>, -<span class="_code_num">2</span>);</span><span class="pull-right show-code"><span class="object-details"><span class="object-value">"abc"</span><span class="object-class">String</span></span></span> <span class="_code_linecomm">// -2 means "2 from right to left"</span>
</pre>
	</div>

</div>


<!-- EXAMPLE u.dynamic -->

<div id="exampleu.dynamic-title" class="row">
	<div class="col-md-12">
		<div class="caption"><span class="badge badge-eg-num">21</span> Dynamic implementation of interfaces (<a href="u.html">rapidoid-u module</a>)</div>
	</div>
</div>

<div id="exampleu.dynamic-body" class="row">

	<div id="exampleu.dynamic-left" class="col-md-12">

		<pre id="exampleu.dynamic-code" class="code-clean">
<span class="_code_comment"><i class="fa fa-mortar-board _code_comment_icon"></i> Dynamic implementation of interfaces:</span>

<span class="_code_cls">Dog</span> dog = <span class="_code_api">U</span>.dynamic(<span class="_code_cls">Dog</span>.<span class="_code_kw">class</span>, (m, margs) -&gt; m.getName() + <span class="_code_str">":"</span> + margs[<span class="_code_num">0</span>]);

<span class="pull-left left-code">dog.bite(<span class="_code_str">"me"</span>);</span><span class="pull-right show-code"><span class="object-details"><span class="object-value">"bite:me"</span><span class="object-class">String</span></span></span>

<span class="pull-left left-code">dog.eat(<span class="_code_str">"meat"</span>);</span><span class="pull-right show-code"><span class="object-details"><span class="object-value">"eat:meat"</span><span class="object-class">String</span></span></span>
</pre>
		<div id="exampleu.dynamic-codedesc" class="eg_title">Dog.java</div>
		<pre id="exampleu.dynamic-code" class="code-clean">
<span class="_code_kw">public</span> <span class="_code_kw">interface</span> <span class="_code_cls">Dog</span> {

    <span class="_code_cls">String</span> eat(<span class="_code_cls">String</span> food);

    <span class="_code_cls">String</span> bite(<span class="_code_cls">String</span> target);

}
</pre>
	</div>

</div>


</div>

<div class="col-md-2">
<div class="modules-right">
<h3 class="module-title">Rapidoid Modules:</h3>
<div class="module-wrap">
 <h4 class="module-title"><a href="http-fast.html">rapidoid-http-fast</a></h4>
 <div class="module-box">Very Fast Web Server</div>
</div>
<div class="module-wrap">
 <h4 class="module-title"><a href="fluent.html">rapidoid-fluent</a></h4>
 <div class="module-box">Fluent API for Clean Manipulation of Collections</div>
</div>
<div class="module-wrap">
 <h4 class="module-title"><a href="web.html">rapidoid-web</a></h4>
 <div class="module-box">High-level POJO Web Framework</div>
</div>
<div class="module-wrap">
 <h4 class="module-title"><a href="u.html">rapidoid-u</a></h4>
 <div class="module-box">Simple &amp; Sweet Utils</div>
</div>
</div>
</div>

</div>

</div> <!-- container -->

<script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>	

<script async defer>
!function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http'
            : 'https';
    if (!d.getElementById(id)) {
        js = d.createElement(s);
        js.id = id;
        js.src = p + '://platform.twitter.com/widgets.js';
        fjs.parentNode.insertBefore(js, fjs);
    }
}(document, 'script', 'twitter-wjs');
</script>   

</body>
</html>
